:root {
  --db-color-red: rgba(250, 0, 0, 0.2);
  --db-color-blue: rgba(0, 0, 250, 0.2);
  --db-color-green: rgba(0, 250, 0, 0.2);
  --db-color-yellow: rgba(254, 254, 2, 0.2);
  --db-color-purple: rgba(250, 0, 250, 0.2);
}

.ms_debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}

/* body */

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}
/* header */

header {
  line-height: 50px;
  height: 50px;
}

.line {
  height: 3px;
  width: 10%;
  border-radius: 20px;
  background-color: currentColor;
}

.circle {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
