:root {
  --db-color-red: rgba(250, 0, 0, 0.2);
  --db-color-blue: rgba(0, 0, 250, 0.2);
  --db-color-green: rgba(0, 250, 0, 0.2);
  --db-color-yellow: rgba(254, 254, 2, 0.2);
  --db-color-purple: rgba(250, 0, 250, 0.2);
}

.ms_debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}

/* body */

/* header */

header {
  line-height: 100px;
  height: 100px;
}

section {
  line-height: 100px;
}
